.overlay{
  z-index: 100;
}

.con-photo > img:hover{
  width:100%;
  height:100%;
  background-color:black;
  filter: brightness(0.7);
  z-index: -1;
  display: initial;
}

.con-container{
  margin:50px auto;
  display: flex;
  margin:auto;
  margin-top: 100px;
  width:1000px;
  box-shadow: 5px 5px 10px 5px #a5a4a425;
  border-radius: 25px;
  
}

#back {

  position: fixed;
  background: none;
  margin-left: 10px;
  font-size: 30px;
  border: none;
  border-radius: 25px;
}
#back:hover{
  background-color: #e2e2d6;
 
}

.con-container button{
  background: none;
  border: none;
  border-radius: 25px;
  font-size: 30px;
}
.con-container button:hover{
  background-color: #e2e2d6;
}
.con-container h3 {
  margin-left: 10px;
  margin-top: 50px;
  font-family: 'Cabin';
  font-size: 50px;
}

.con-container img{
  border-radius: 25px 0px 0px 25px;
  width: 100%;
}

#con-image{
border-radius: 25px 0px 0px 25px;
height: 100%;
width: 50%
}
#con-info{
  width: 50%;
}