// .con-index {
//   display: flex;
// }

.con-image {
  column-count: 7;
  width: 90%;
  margin: 50px auto;
}

.con-image {
  margin-top: 90px;
}

// .con-image {
//   display: flex;
//   justify-content: space-between;
// }

.con-photo{
  padding-bottom: 2em;
}

.con-photo img {
  border-radius: 25px;

  width: 100%;
}
.con-photo img:hover{
    cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
}

.edit-save{
  display: flex;
  justify-content: space-around;
  width: 60%;
}