.footer-div{
    position:relative;
    bottom:50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 20px;
    font-size: 40px;
}

.personal-links{
    background:none;
    border:none;
}

.links-div{
    position:fixed;
    height:150px;
    width:50px;
    top: 400px;
    left:-6px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.137);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.floating-div{
    height:100%;
    width: 100%;
    font-size:30px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    
}