/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html{
   background-color: #fffff0;
 }

 .header-name{
   font-style: italic;
   font-family: 'Lucida Grande' ;
 }

 .dimterest-header {
   font-size: 40px;
   font-style: italic;
   font-family: 'Black Ops One';
   color: black;
   text-decoration: underline;
   text-decoration-color: #ab4b52 ;
   
 }
 
 .login-form-container, .login-signup, .dimterest-header {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .login-form-box{
   align-items: center;
   border: 2px solid black;
   border-radius: 15px;
   padding: 40px;
   padding-top: 15px;
   background-color:#ab4b52 ;
   color: #fffff0;
 }
 
 .login-form-container h4{
    padding-left: 100px;
   font-family: 'Nova Cut';
   font-weight: lighter;
   font-style: italic;
 }
 .login-form-container h2{
   font-family: 'Black Ops One';
   font-weight: lighter;
   font-style: italic;
 }

.login-nav {
}