/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html{
   background-color: white;
 }

 

 .dimterest-header {
   font-size: 40px;
   font-style: italic;
   font-family: 'Black Ops One';
   color: black;
   text-decoration: underline;
   text-decoration-color: #ab4b52 ;
   
 }
 
 .signup-form-container ,.login-form-container, .login-signup, .dimterest-header {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .signup-form-box, .login-form-box{
   display: flex;
   flex-direction: column;
   align-items: center;
   border-style: outset;
   border-radius: 15px;
   padding: 40px;
   padding-top: 15px;
   background-color: #fffff0;
 }
 
 .signup-form-container h4, .login-form-container h4{
   font-family: 'Barlow Condensed';
   font-weight: lighter;
   font-style: italic;
 }
 .login-form-container h2{
   font-family: 'Black Ops One';
   font-weight: lighter;
   font-style: italic;
 }

  .signup-form-container h2{
   font-family: 'Black Ops One';
   font-weight: lighter;
   font-style: italic;
 }

.signup-input, .login-input{
  border-radius: 20px;
  width: 200px;
  height: 20px;
  font-family: 'Barlow Condensed';
  color: #ab4b52;
  font-size: 15px;
  padding: 5px;
  font-weight: lighter;
}

.session-submit{
  background-color: #ab4b52;
  border-radius: 20px;
  height: 40px;
  width: 150px;
  font-family: 'Barlow Condensed';
  color: #fffff0;
  border-style: outset;
  font-size: 17px;
}

.login-form, .signup-form{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.session-submit:hover{
  background-color: #793338;
  color: #d3d3c8;
}

.session-links{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.session-links a{
  background-color: #ab4b52;
  border-radius: 5px;
  height: 40px;
  width: 150px;
  font-family: 'Barlow Condensed';
  color: #fffff0;
  border-style: outset;
  font-size: 17px;
  text-align: center;
}