/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html{
   background-color: lightgrey;
 }

 .form-titles {
   padding:none;
   display:flex;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   font-family: 'Cabin' ;
 }

 .form-titles h2 {
    font-size: 40px;
 }


 .form-titles p {
    font-size: 20px;
    font-style: italic;
 }

 .header-link {
   text-decoration: none;
   text-align: center;
  }
  
  
  .dimterest-header {
    text-align: center;
    padding: 2px;
   padding: 0;
   background-color: #ab4b52;
   height: 50px;
   width:50px;
   border-radius: 50px;
   font-size: 40px;
   /* font-style: italic; */
   font-family: 'Black Ops One';
   color: #fffff0;
   
 }
 
 .signup-form-container ,.login-form-container {
   display: flex;
   justify-content: center;
   align-items: center;
  
 }

 .signup-form-container ,.login-form-container {
   margin-top: 200px;
 }
 .session-links{
   margin-top: 200px;
 }

 .signup-form-box, .login-form-box{
   align-self: flex-end;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 15px;
   padding: 40px;
   padding-top: 15px;
   background-color: #fffff0;
 }
 
 

  .signup-form-container h2, .login-form-container h2{
   font-family: 'Cabin';
 }

.signup-input, .login-input{
  border-radius: 15px;
  width: 390px;
  height: 35px;
  font-family: 'Cabin';
  color: #ab4b52;
  font-size: 15px;
  padding: 5px;
  font-weight: lighter;
  border-style: none;
  border: 2px solid #e1e1d2;
}

.session-submit, .demo-user{
  background-color: #ab4b52;
  border-radius: 8px;
  height: 40px;
  width: 390px;
  font-family: 'Cabin';
  color: #fffff0;
  font-size: 17px;
}

.demo-user{
  margin-top: 10px;
}
.login-form, .signup-form{
  display:flex;
  flex-direction: column;
  align-items: center;
}


/* CSS for greeting component */

.session-links{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.links-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:20px;
  align-items: center;
  border-radius: 15px;

  background-color: #fffff0;
}


.greet-login{
  text-align: center;
  text-decoration: none;
  background-color: #ab4b52;
  border-radius: 25px;
  padding: 15px;
  width: 390px;
  font-family: 'Cabin';
  font-size: 17px;
  text-align: center;
  color: #fffff0;
}

.greet-signup{
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  background-color: #e2e2d4;
  border-radius: 25px;
  padding: 15px;
  width: 390px;
  font-family: 'Cabin';
  font-size: 17px;
  text-align: center;
  color: black;
  margin-bottom: 10px;
}

.greet-signup:hover{
  background-color: #cdcdbe;
}

.session-submit:hover, .greet-login:hover, .demo-user:hover{
  background-color: #793338;
  color: #d3d3c8;
}

.nav-beauty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  border-bottom: 2px solid darkgrey;
  background-color: #fffff0;
}
.nav-bar{
  position: sticky;
  top: 20px;
}


.menu{
  display: flex;
  flex-direction: row;
}
.login-nav {
  text-align: center;
  background-color: #fffff0;
  height: 40px;
}



.signup-guider {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: 'Cabin';
}

.blue-sign a{
    color: #ab4b52;
    margin-left: 2px;
    text-decoration: none;
  }

.header-nav-link{
  text-decoration: none;
}

.error-ul{
  display:flex;
  justify-content: center;
  list-style: none;
}

.error-li{
  font-family: 'Cabin';
  color: #ab4b52;
}


.login-nav a{
  
  text-decoration: none;
  color: black;
  font-family: 'Cabin';
}

.user-email{
  font-family:'Cabin';
}
